<form action="/autenticate" method="post">
  <p>Login ID:
  <%= text_field "login", "name", "size" => 20 %>
  Password: 
  <%= password_field "login", "password", "maxsize" => 20 %>
  <input type="submit" value="Login">
</form>