<div id="content">
  <h2>Logout</h2>
  <p>Obrigado e até a próxima. :)</p><br>
  <p><%= link_to "Página inicial", :action => "login"  %></p>
</div>
  
<div id="footer">ANA COUTO BRANDING &AMP; DESIGN</div>